<ion-view view-title="Login" hide-back-button="true" class="add-bg"  cache-view="false">
    <ion-content class="">
        <div style="width:100%; height:100%; background-image:url({{item.itemPicture }});" id="firstView" ng-show="displayFirst">
                <div class="row modal-bg item-nav" id="toplinks">
                    <span>
                        <a nav-direction="forward" style="color:#fff;" class="button icon-left ion-android-close button-clear button-light" ng-href="#/app/home"></a>
                    </span>
                </div>
                <div class="padding-bottom" style="position:fixed; bottom:80px; width:100%;" ng-hide="showQuestionText">
                    <input type="button" value="Ask" class="item-button odd" style="background-color: white; border:#a91cfd 0.5px solid; color:#a91cfd;" ng-click="showQuestionDiv()" />
                    <input type="button" value="Make an Offer" class="item-button even" style="background-color: #a91cfd; color:#fff;" ng-click="makeAnOffer()" />
                </div>
                <div class="padding-bottom" style="position:fixed; bottom:15px; width:100%;" ng-hide="showQuestionText">
                    <a ng-click="showMoreDetails();" nav-direction="enter" class="button icon-left ion-chevron-down button-clear button-light" style="margin-left:45%;"></a>
                </div>
                <div class="padding-bottom" style="position:fixed; bottom:15px; width:100%;" ng-show="showQuestionText">
                    <form novalidate id="quesForm" name="loginForm" ng-submit="loginForm.$valid && askQuestion(question)">
                        <input type="text" style="width: 60%; margin-left:4px;" ng-model="question" placeholder="Type your question here">
                        <input type="submit" style="width:25%; margin-left:70%; height:30px;" value="Ask" >
                    </form>
                </div>
            </div>
        <div id="secondView" ng-hide="displayFirst" style="width:100%; height:100%; background-image:url({{item.itemPicture }});">
            <div class="row modal-bg item-nav" id="toplinks">
                <span>
                    <a nav-direction="forward" style="color:#fff;" class="button icon-left ion-android-close button-clear button-light" ng-href="#/app/home"></a>
                </span>
                <span style="color:#fff;">
                    {{item.itemName}} | ${{item.itemPrice}} | {{item.user.org.name}}
                </span>
                <span class="align-right">
                    <a nav-direction="forward" class="button icon-right ion-android-favorite-outline button-clear button-light" ng-href="#/app/home"></a>
                </span>
            </div>
           <div clas="row" style="background-color:#fff; width:100%; height:93%; " >
               <div class="row">
                   Posted by @{{item.user.handle}} from {{item.user.org.name}}
                </div>
                <div id="map" class="row" data-tap-disabled="true" style="width:100%; height: 25%;"></div>
               <div class="row">
                   {{item.itemLocation}}
               </div>
          </div>
        </div>
    </ion-content>
</ion-view>