<ion-view view-title="Login" hide-back-button="true" class="add-bg" cache-view="false" ng-init="getCamera()">
    <ion-content class="">
        <form name="myForm" novalidate>
            <wizard on-finish="finishedWizard()">
                <wz-step wz-title="Photos" canexit="exitValidation">
                    <div class="content bg2">
                        <div class="wrapper">
                            
                                <ion-slide-box id="img-slider" delegate-handle="image-viewer"  on-slide-changed="slideHasChanged()" show-pager="true">
                                    <ion-slide  ng-repeat="img in imageArr">
                                        <img ng-src="{{img}}" />
                                    </ion-slide>
                                </ion-slide-box> 
                             <!--   <div class="photo_wrapper">
                             <div class="photo_slide" ng-repeat="img in imageArr"><img ng-src="{{img}}"></div>
                                <div class="photo_slide"><img src="img/photo1.jpg"></div>
                                <div class="photo_slide"><img src="img/photo1.jpg"></div>
                                <div class="photo_slide"><img src="img/photo1.jpg"></div>
                                <div class="photo_slide"><img src="img/photo1.jpg"></div>
                                <div class="photo_slide"><img src="img/photo1.jpg"></div> 
                            </div> -->
                            <div class="photo_header">
                          <!--      <button class="camera_switch"></button>
                                <button class="camera_flash"></button>-->
                                <button class="camera_close" ng-click="closeAddNew()"></button>
                            </div>
                            <div class="photo_footer">
                             <!--   <div class="photo_thumbs">
                                    <div class="photo_thumb"><img src="img/thumb1.jpg"></div>
                                    <div class="photo_thumb"><img src="img/thumb2.jpg"></div>
                                    <div class="photo_thumb"><img src="img/thumb3.jpg"></div>
                                    <div class="photo_thumb"><img src="img/thumb1.jpg"></div>
                                    <div class="photo_thumb"><img src="img/thumb2.jpg"></div>
                                    <div class="photo_thumb"><img src="img/thumb3.jpg"></div>
                                </div>-->
                                <div class="camera_tools">
                                    <button class="camera_photos" ng-click="getImage()"></button>
                                    <button class="camera_next" wz-next></button>
                                    <button class="camera_shot" ng-click="getCamera()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                  <!--  <div class="pageOne">
                           <ion-slide-box id="img-slider" delegate-handle="image-viewer" class="photoSlider" on-slide-changed="slideHasChanged()" show-pager="true">
                               <ion-slide ng-repeat="img in imageArr">
                                   <img ng-src="{{img}}" />
                               </ion-slide>
                           </ion-slide-box> 
                        <div class="row modal-bg add-nav" id="toplinks">
                            <span>
                                <a nav-direction="forward" class="button icon-left ion-chevron-left button-clear button-light" ng-href="#/app/home"></a>
                            </span>
                            <span class="align-right">
                                <a nav-direction="forward" class="button icon-right ion-android-close button-clear button-light" ng-href="#/app/home"></a>
                            </span>
                        </div>
                        <div class="row modal-bg add-bottom">
                            <img ng-click="getImage()" class="uploadPic" />
                            <button type="button" class="next-button" wz-next>Next<span class="login-link-icon icon-right ion-chevron-right"></span></button>
                        </div>
                        <ul id="takePicture">
                            <li>
                                <a ng-click="getCamera()"><i class="icon ion-android-camera" ng-style="color: white; font-size:20px;"></i></a>
                            </li>
                        </ul>
                    </div> -->
                </wz-step>
                <wz-step wz-title="Location" canenter="enterValidation">
                    <div class="pageOne" >
                      <!--  <img ng-src="{{imageArr[0]}}" style="z-index:9;" /> -->
                        <div class="row" id="toplinks" style="z-index:99;">
                            <span>
                                <a nav-direction="forward" class="button icon-left ion-chevron-left button-clear button-light" wz-previous></a>
                            </span>
                            <span class="align-right">
                                <a nav-direction="forward" class="button icon-right ion-android-close button-clear button-light" ng-href="#/app/home"></a>
                            </span>
                        </div>
                        <div class="row inner-addon left-addon usernameLbl item item-input item-floating-label" ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
                            <!--  <span class="input-label">Email</span> -->
                            <input type="text" id="userLoc" ng-model="item.location" ng-autocomplete="locResult" details="locDetails" options="locOptions" required />
                        </div>
                       
                        <div class="row modal-bg add-bottom">
                            <button type="button" class="next-button" wz-next>Next<span class="login-link-icon icon-right ion-chevron-right"></span></button>
                        </div>
                    </div>
                   
                    <!--     <div class="row">
                                <div class="item range range-stable">
                                    Mint <input ng-model="item.used" min="0" max="100" value="50" name="used" style="width:70%;" type="range">Used
                                </div>
                            </div>
                            <div class="row">
                                <textarea style="border: 1px solid #c6c7ca !important; border-radius:5px !important;" rows="6" ng-model="item.reason" name="reasonToSell" required placeholder="Reason to sell..."></textarea>
                            </div>
                            <div class="row">
                                <textarea style="border: 1px solid #c6c7ca !important; border-radius:5px !important;" rows="6" ng-model="item.itemDescription" name="description" required placeholder="Product Description...."></textarea>
                            </div>
                            <div class="row">
                                <button class="next-button" wz-next value="Go on" type="submit">Next</button>
                            </div>-->
                    </wz-step> 
                    <wz-step wz-title="Price">
                        <div class="pageOne" >
                            <!--  <img ng-src="{{imageArr[0]}}" style="z-index:9;" /> -->
                            <div class="row" id="toplinks" style="z-index:99;">
                                <span>
                                    <a nav-direction="forward" class="button icon-left ion-chevron-left button-clear button-light" wz-previous></a>
                                </span>
                                <span class="align-right">
                                    <a nav-direction="forward" class="button icon-right ion-android-close button-clear button-light" ng-href="#/app/home"></a>
                                </span>
                            </div>
                            <div class="row inner-addon left-addon usernameLbl item item-input item-floating-label" ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
                                <!--  <span class="input-label">Email</span> -->
                                <input type="number" id="price" ng-model="item.itemPrice"  placeholder="Price (USD)" required />
                            </div>

                            <div class="row modal-bg add-bottom">
                                <button type="button" class="next-button" wz-next>Next<span class="login-link-icon icon-right ion-chevron-right"></span></button>
                            </div>
                        </div>
                        <!--    <div class="row">
                                <input class="productTitle" type="tel" placeholder="Price (USD)" ng-model="item.itemPrice" name="price" required>
                            </div>
                            <div class="row">
                                <input class="productTitle" maxlength="4" type="number" placeholder="Year of Purchase" ng-model="item.purchaseYear" name="purchaseYear" required>
                            </div>
                            <div class="row">
                                <button class="next-button" wz-next value="Finish now" type="submit" ng-click="send()">Publish</button>
                            </div>-->

                    </wz-step>
                    <wz-step wz-title="Title">
                        <div class="pageOne" >
                            <!--  <img ng-src="{{imageArr[0]}}" style="z-index:9;" /> -->
                            <div class="row" id="toplinks" style="z-index:99;">
                                <span>
                                    <a nav-direction="forward" class="button icon-left ion-chevron-left button-clear button-light" wz-previous></a>
                                </span>
                                <span class="align-right">
                                    <a nav-direction="forward" class="button icon-right ion-android-close button-clear button-light" ng-href="#/app/home"></a>
                                </span>
                            </div>
                            <div class="row inner-addon left-addon usernameLbl item item-input item-floating-label" ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
                                <!--  <span class="input-label">Email</span> -->
                                <input type="text" id="title" ng-model="item.itemName" placeholder="Title" required />
                            </div>

                            <div class="row modal-bg add-bottom">
                                <button type="submit" class="next-button" wz-next value="Finish now" ng-click="send()">Publish</button>
                            </div>
                        </div>
                    </wz-step>
            </wizard>
        </form>
    </ion-content>
</ion-view>